.App {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.form {
	display: grid;
	grid-template-columns: 300px;
}

label {
	font-size: 20px;
	font-weight: 300;
}
.test {
	background-color: white;
}
.userInfo {
	text-align: center;
	font-size: 28px;
	color: #403233;
	text-transform: uppercase;
}
.userInfo img {
	height: 150px;
}
.userInfo div {
	margin-top: 20px;
}
.profile-card {
	display: flex;
	height: 300px;
}
.card {
	border-radius: 15px;
}
.card .card-body form {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	height: 100px;
	min-height: auto;
}
.card .card-body form div {
	display: block;
	width: 100%;
}
.img-1 {
	max-width: 100%;
	object-fit: contain;
	margin: 0px;
	border: none;
	padding: 0px;
}
